* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: #0077c5;
  text-decoration: none;
  cursor: pointer;
}

body {
  line-height: 1;
  background-color: #eceef1;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  align-items: center;
}

nav > div {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  font-size: 12px;
}

nav > div > span {
  padding: 0 3px 5px 5px;
  font-size: 12px;
  color: #505050;
}

nav > button {
  width: 102px;
  height: 34px;
  font-size: 12px;
  background-color: #0077c5;
  color: #fff;
  font-family: "Cabin", sans-serif;
  border: 1px solid #505050;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav > button > span {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 300;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  width: 380px;
}

.sec-top {
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.logo {
  width: 118px;
  height: 35px;
  background: url(images/index.png) 0 0;
}

.icons {
  display: flex;
  margin-top: 20px;
  width: 318px;
  height: 23px;
  justify-content: space-between;
  padding: 0 6px;
}

.icon :hover {cursor:pointer; }

.icon-1 {
  width: 23px;
  height: 23px;
  background: url(images/index.png) -254px 27px;
}

.text-1 {
  width: 37px;
  height: inherit;
  background: url(images/index.png) -280px 27px;
  margin-right: 7px;
}

.icon-2 {
  width: 23px;
  height: 23px;
  background: url(images/index.png) -115px 27px;
}

.text-2 {
  width: 98px;
  height: inherit;
  background: url(images/index.png) -143px 27px;
}

.icon-3 {
  width: 23px;
  height: 23px;
  background: url(images/index.png) 0 27px;
  margin-left: 5px;
}

.text-3 {
  width: 74px;
  height: inherit;
  background: url(images/index.png) -28px 27px;
}

.sec-body {
  border: 1px solid #c7c7c7;
}

.sec-forms {
  height: 620;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

h2 {
  padding: 25px 0;
  font-weight: 300;
  color: rgb(76, 76, 76);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

form {
  width: 100%;
}

label {
  margin-bottom: 100px;
  padding-bottom: 50px;
  font-size: 14px;
  color: rgb(80, 80, 80);
}

input[type="text"],
input[type="tel"],
input[type="password"] {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid lightgray;
  padding: 5px 12px;
}

input[type="tel"] {
  margin-bottom: 0;
}

.warning {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 10px;
  color: rgb(80, 80, 80);
}

input[type="password"] {
  background-image: url("images/unlockedpad.png");
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: 95% 50%;
}

.submit {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 12px 20px;
  color: white;
  background-color: #0077c5;
  font-size: 15px;
}

.submit:hover {
  cursor: pointer;
}

.submit > span {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.head3 {
  margin-bottom: 0;
  text-align: center;
  color: rgb(80, 80, 80);
  font-size: 14px;
}

footer > a {
  color: #838383;
  font-family: "Roboto", sans-serif;
}

.sec-body > a {
  margin-bottom: 40px;
  margin-top: 5px;
  color: #178ce0;
  text-decoration: none;
}

.privacy {
  font-style: italic;
  margin: 10px;
  text-align: center;
  color: #808080;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}

.sec-bottom {
  height: 53px;
  background-color: #eceef1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-bottom > span {
  font-size: 10px;
  color: #8d9096;
}

footer {
  width: 100%;
  height: 99px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.f-links {
  margin-top: 30px;
  font-size: 13px;
}

.f-links > span {
  margin: 0 5px;
}

.f-copyright-1 {
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  color: #838383;
  margin: 5px;
}

.f-copyright-2 {
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  color: #838383;
}

.priv-btn {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  position: fixed;
  right: 60px;
  bottom: 0;
}

.priv-btn:hover {
  cursor: pointer;
}
